.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
html,body{
  height: 100%;
  width: 100%;
}
.contents{
  height: 100%;
  &__left {
    float: left;
    background-color: #2f3e51;
    width: 300px;
    height: 100%;
    &__fontawesome{
      float: right;
      color: #ffffff;
      padding-top: 44px;
      padding-right: 10px;
    }
    &__user {
      width: 300px;
      padding-left: 30px;
      padding-top: 40px;
      background-color: #253141;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      height: 56px;
    }
    &__group {
      background-color: #2f3e51;
      height: calc(100% - 96px);
      ul{
        li#list-group{
         color: #ffffff;
         padding-top: 20px;
         padding-left: 20px;
         font-size: 15px;
         padding-bottom: 5px;
       }
       li#list-member{
         color: #ffffff;
         padding-left: 20px;
         font-size: 11px;
         padding-bottom: 40px;
         display: inline;
       }
     }
   }
 }
 &__right {
  float: left;
  height: 100%;
  width: calc(100vw - 300px);
  &__edit {
    float: right;
    color: #38aef0;
    padding-right: 20px;
    border: 1px solid #38aef0;
    text-align: center;
    vertical-align: middle;
    margin-right: 40px;
    margin-top: 28px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__group-space {
    padding-top: 35px;
    padding-bottom: 45px;
    padding-left: 40px;
    height: 16px;
    background-color: #eee;
    li#group{
      font-size: 20px;
      color: #333;
    }
    li#member{
      font-size: 12px;
      display: inline-block;
      color: #999;
    }
  }
  &__comment-space {
      height: calc(100% - 96px);
      position: relative;
      ul{
        padding-top: 46px;
      }
      &__message{
        li#sender-name{
          font-size: 16px;
          color: #434a54;
          padding-left: 40px;
          padding-bottom: 10px;
          display: inline;
        }
        li#time{
          font-size: 11px;
          color: #888888;
          padding-left: 20px;
          display: inline-block;
        }
        li#message{
          font-size: 12px;
          color: #434a54;
          padding-left: 40px;
          padding-bottom: 40px;
        }
      }
      &__writting {
        background-color: #999999;
        width: 100%;
        height: 90px;
        position: absolute;
        bottom:0;
        &__send{
          float: right;
          color: #ffffff;
          background-color: #38aef0;
          width: 60px;
          margin-top: 20px;
          font-size:18px;
          padding-left: 20px;
          padding-top: 12px;
          height: 38px;
          margin-right: 40px;
        }
        &__something {
          background-color: #ffffff;
          width: 84%;
          height: 50px;
          margin-top: 20px;
          margin-bottom: 20px;
          margin-left: 40px;
          margin-right: 80px;
          &__type{
            margin-left: 10px;
            padding-top: 10px;
            font-size: 16px;
            color: #434a54;
          }
          &__fontawesome{
            color: #444444;
            float: right;
            margin: 18px;
          }
        }
      }
    }
  }
}